body {
            background-color: rgba(0, 0, 0, 0.9); /* Background lebih gelap */
            font-family: 'Poppins', sans-serif; /* Font modern Poppins */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            min-height: 100vh;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
        }

        .card {
            background-color: rgba(147, 148, 171, 0.25);
            padding: 30px;
            border: 1px solid #b4bbda; /* Border jingga ke kuningan */
            border-radius: 5px;
            width: 100%;
            max-width: 750px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow lebih gelap */
            backdrop-filter: blur(10px); /* Blur lebih kuat */
            position: relative; /* Untuk positioning spinner */
        }

        h1, p {
            color: #fff8eb; /* Warna font jingga ke kuningan */
            margin-bottom: 20px;
        }

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: 2px solid #fff8eb; /* Border input */
            border-radius: 200px;
            text-align: center;
            width: 80%;
            margin-bottom: 20px;
            background-color: transparent;
            color: #f1f1f1;
        }

        button {
            background-color: #439c8f;
            color: #ffffff;
            padding: 10px 25px;
            font-size: 16px;
            border: none;
            border-radius: 200px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
        }

        button:hover {
            background-color: #4e4aa7;
            transform: translateY(-3px); /* Efek naik saat hover */
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Shadow lebih dalam saat hover */
        }

        .footer {
            color: #ffffff;
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
        }

        #result {
            display: none;
            color: white;
            bottom: 50px;
        }

        .loading-spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 4px solid #FFA500; /* Warna jingga ke kuningan */
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px; /* Setengah dari tinggi */
            margin-left: -20px; /* Setengah dari lebar */
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }